.navbar {
  background-color: #4b81a0;
  color: white;
  padding: 10px 20px;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.home-icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.home-icon a {
  text-decoration: none;
  color: inherit;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.menu-icon,
.close-icon {
  width: 24px;
  height: 24px;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(173, 200, 216, 0.95);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-overlay.open {
  display: flex;
  opacity: 1;
  transform: translateX(0);
  animation: slideIn 0.3s ease forwards;
}

.menu-overlay.closing {
  animation: slideOut 0.3s ease forwards;
}

.menu-items {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu-items li {
  margin: 15px 0;
}

.menu-items a:hover {
  color: #4b81a0 !important;
}

.menu-items a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .menu-items a:hover {
    color: black !important;
  }

  .menu-items {
    display: flex;
    gap: 20px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}